.git
.gitattributes
.venv
.vscode
__pycache__
*.pyc
.DS_Store

src/oddsketch
src/*.o
experiments/tools/bin/*
!experiments/tools/bin/.gitignore
experiments/tools/bindash

experiments/pair_task/outputs
experiments/search_task/outputs
src/test/test_genomes/genomes
docker-data
